body {
  font-family: 'Roboto', sans-serif;
}

.page {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & .page-content {
    flex: 1;
  }
}

a {
  display: block;
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.row {
  width: 100%;
}

.desctop-hidden {
  display: none;
}
