header {
  background-color: $purple;
  border-bottom: 5px solid $purple-dark;
  position: fixed;
  width: 100%;
  z-index: 999;

  & .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  & .header__logo {
    width: 90px;
    padding-top: 15px;

    & img {
      width: 100%;
    }
  }

  & .header__menu {
    width: 100%;
    position: relative;

    & ul {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      & a {
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        padding: 40px 20px;
        position: relative;

        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 5px;
          background-color: $white;
          transform: translateY(5px);
          transition: all .25s ease;
          opacity: 0;
        }

        &:hover:after {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

.header__menu.open ul {
  display: block !important;
}

.sandwitch {
  position: absolute;
  z-index: 999;
  top: 20px;
  right: 20px;
  padding: 5px;
  transition: all .3s ease;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover,
  &.active {
    cursor: pointer;
    border: 1px solid $white;
  }

  .sandwitch__bar {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: $white;
    border-radius: 2px;
    transition: all .25s ease;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.active {
    border: 1px solid transparent;
  }

  &.active .middle {
    transform: scale(0);
  }

  &.active .top {
    transform: rotate(-40deg);
    transform-origin: 100% 50%;
  }

  &.active .bottom {
    transform: rotate(40deg);
    transform-origin: 85% 50%;
  }

}
