.main-body {
  padding: 150px 0px 100px 0px;

  .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  h1 {
    color: $purple;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .main-body__text {
    padding-right: 50px;

    p {
      line-height: 1.4;
      color: $purple;
      font-size: 14px;
      margin-top: 0;
      padding-bottom: 20px;
    }
  }
}

.device__container {
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: block;
  justify-content: flex-start;
  width: 100%;

  .device__container-background {
    position: relative;
    z-index: 10;
    position: relative;
    z-index: 10;
    overflow: hidden;
    display: inline-block;
    border-radius: 22px;
  }

  .thumbs-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;

    img{
      // opacity: 0;
      // visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;

      @for $i from 5 through 1{
        &:nth-child(#{$i}){
          z-index: $i;
        }
      }


      &.active{
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }

  .device__container-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98%;
    left: 0;
    top: 0px;
    z-index: 5;
    padding: 0px;
    border-radius: 50px;
    overflow: hidden;
    width: 458px;
    z-index: -1;
  }

  img {
    height: 100%;
    border-radius: 4px;
  }
}

.main-body .row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.thumbs {
  margin: 50px auto;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.thumb__wrapper{
  width: 33.3333%;
  margin: 0px 15px;

  &:hover {
    .thumb__item{
      cursor: pointer;
      transform: translate(-20px, 20px);
    }

    img {
      transform: translate(40px, -40px);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }
}

.thumb__item {
  border: 2px solid $purple-dark;
  border-radius: 4px;
  padding: 5px;
  width: 100%;

  transition: all .5s ease;
  transform-origin: 100% 100%;


  img {
    width: 100%;
    transition: all .5s ease;
    transform-origin: 0% 100%;
  }
}



.from-top{
  animation: fromTop 1s ease forwards;
}

.from-right{
  animation: fromRight 1s ease forwards;
}

.from-bottom{
  animation: fromBottom 1s ease forwards;
}

.from-left{
  animation: fromLeft 1s ease forwards;
}

@keyframes fromTop {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fromRight {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
