@media only screen and (max-width : 1440px) {

  .main-body {
    padding: 50px 0px;
  }

}

@media only screen and (max-width : 1200px) {

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media only screen and (max-width : 1024px) {

  .thumb__wrapper:hover .thumb__item {
    transform: translate(-10px, 10px);
  }

  header .header__logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header .header__menu ul a {
    padding: 20px;
    font-size: 14px;
  }

  .thumb__wrapper:hover img {
    transform: translate(20px, -20px);
  }

  header .header__menu ul a:after {
    bottom: -7px;
  }

}

@media only screen and (max-width : 992) {



}

@media only screen and (max-width : 768px) {

  .desctop-hidden {
    display: block;
  }

  body .mobile-hidden {
    display: none !important;
  }

  header .header__menu ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index:100;
    background-color: $purple;
    padding: 0px 15px;
    transition: all .25s ease;
    transform: translateX(-100%);

    a {
      padding-left: 0;

      &:hover {
        transform: translateX(10px);
      }

      &:after {
        bottom: 0;
        transform: translateY(0);
        height: 1px;
      }

      &:hover:after,
      &.active:after {
        transform: translateX(-10px);
      }
    }
  }

  header .header__menu.open ul {
    transform: translateX(0);
  }

  .main-body .row {
    flex-direction: column;
  }

  .device__container .device__container-image {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .thumbs {
    width: 100%;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .main-body {
    padding-top: 100px;
  }

}

@media only screen and (max-width : 600px) {

  .device__container .device__container-background,
  .device__container img,
  .device__container .device__container-image {
    width: 100%;
  }

  .sandwitch  {
    right: 0;
  }

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

  .thumb__wrapper {
    margin: 0px 10px;
  }

}


@media (min-width: 1201px) {

  .container {
    width: 1180px;
  }

}
