doctype html
html(lang='ru')
	head

		include blocks/head.html
		title Home

	body(onload='')
		.page
			.page-content
				include blocks/header.html
				include blocks/main-body.html
			include blocks/footer.html


		script(src='libs/jquery/jquery-3.1.1.min.js')

		//- Gallery Plugin
		script(src="js/wbs-gallery-plugin.min.js")

		script(src='js/script.js')
