<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
        <div class="header__logo">
          <a href="#">
            <img src="img/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8S">
        <div class="header__menu">

          <div class="sandwitch desctop-hidden">
            <div class="sandwitch__bar top"></div>
            <div class="sandwitch__bar middle"></div>
            <div class="sandwitch__bar bottom"></div>
          </div>

          <ul class="header__menu-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
