<div class="main-body">
  <div id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="main-body__text">
            <h1>iPad Pro</h1>
            <p>No matter the task, the new iPad Pro is up to it — and then some. It offers far more power than most PC laptops,
              yet is delightfully simple to use. The redesigned Retina display is as stunning to look at as it is to touch. And
              it all comes together with iOS, the world’s most advanced mobile operating system. iPad Pro. Everything you want
              modern computing to be. Now even, well, better.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="device">
            <div class="device__mask"></div>
            <div class="device__container">
              <div class="device__container-background">
                <img src="img/device.png" alt="device">

                <div class="thumbs-container">
                  <img src="img/thumb1.jpg" alt="">
                  <img src="img/thumb2.jpg" alt="">
                  <img src="img/thumb3.jpg" alt="">
                </div>

              </div>

              <div class="device__container-image">
                <img src="img/default.jpg" alt="default image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="thumbs">
      <div class="thumb__wrapper">
        <div class="thumb__item">
          <img src="img/thumb1.jpg" alt="">
        </div>
      </div>
      <div class="thumb__wrapper">
        <div class="thumb__item">
          <img src="img/thumb2.jpg" alt="">
        </div>
      </div>
      <div class="thumb__wrapper">
        <div class="thumb__item">
          <img src="img/thumb3.jpg" alt="">
        </div>
      </div>

      <!-- <div class="thumbs__item">
        <img src="img/thumb2.jpg" alt="">
      </div>
      <div class="thumbs__item">
        <img src="img/thumb3.jpg" alt="">
      </div> -->
    </div>
  </div>

</div>
